<manifest xmlns:android="http://schemas.android.com/apk/res/android" 
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shimbox.app">


    <!-- 인터넷 권한 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 위치 권한 (필수) -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />

    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>

    <!--카메라-->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera" android:required="false"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>


    <!-- (선택) Android 10 이상에서 백그라운드 위치 필요 시 -->
    <!-- <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" /> -->

    <application
        android:label="shimbox"
        tools:replace="android:label"
        android:icon="@mipmap/ic_launcher"
        android:networkSecurityConfig="@xml/network_security_config"
        android:usesCleartextTraffic="true" 
        android:hardwareAccelerated="true"
>

        <activity
            android:requestLegacyExternalStorage="true"
            android:name="com.shimbox.app.MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />
                
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                
            </intent-filter>
        </activity>

        <!-- Flutter plugin용 -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <!-- Naver Map Client ID -->
        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="5rjrszwqdb" />

    </application>

    <!-- Flutter 텍스트 처리용 쿼리 -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT" />
            <data android:mimeType="text/plain" />
        </intent>
        <!-- Naver -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="nmap" />
        </intent>
        <package android:name="com.nhn.android.nmap" />
    </queries>
</manifest>
